<h1>StaticPages#landing_page</h1>

<div class="container">
    <div class="col-md-6">
      <div class="card">
        <div class="card-heder">
          Registration preferences
        </div>
        <div class="card-body">
          <canvas id="myChart" width="300px" height="300px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
        </div>
      </div>
    </div>
  <p>MYAW :3</p>
  <i class="fas fa-cat fa-3x" ></i>
  <p></p>
</div>

