<h1>It's MEME time</h1>
 <%= image_tag "https://preview.redd.it/8hkekbti9a221.jpg?auto=webp&s=5f41fa425181a4de6337ae5397be19aacf8df171"%> 
  <p>MYAW :3</p>
  <i class="fas fa-cat fa-3x fa-spin " ></i>
  <p></p>


