
<div class="card-heder">
  Registration preferences
</div>
<div class="card-body">
  <canvas id="myChart" width="300px" height="300px" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
</div>
