<h1>
All users
</h1>

<p><%= @users.length %></p>
<li>
  <div class="Stripes">
    <%= image_tag user.avatar.url, class: "avatar_header rounded-circle"%>
   <%= link_to user.name, user %>
  <% end %>
</li>