
<h1>List of users</h1>
<ul class="users">
  <div> 
    Total users:
    <%= User.count %>
  </div>
  <br>

  <%== pagy_bootstrap_nav(@pagy) %>
  <br>
  <% @users.each do |user| %>
  <%= render 'users/user', user: user %>
  <hr>
  <% end %>

  <%== pagy_bootstrap_nav(@pagy) %>
</ul>
