<p>Write a correct answer to you're task</p>
<%= form_for(@answer) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Write a correct answer to you're task" %>
  </div>
<% end %>